extends layout

block append head
  meta(name="description" content="Vector Graphics Tools")
  meta(name="keywords" content="Vector Graphics, Tools, Art")
  title Zector

block content
  div(class="col-lg-12")

    div(class="page-header")

    div(class="container")
      div(class="jumbotron")
        h1 Zector
        p
          | Suite of Vector Graphics Tools that solve specialized problems of
          | Digital Graphic Artists.

      div(class="list-group")
        div(class="list-group-item")
          h2 Trace
          p
            | Create Vector art from bitmap images using the most productive
            | workflow.

          a(class="btn btn-primary" href="/trace") Learn more
